* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Yu Gothic';
}

body, div, aside, footer, header, main, nav, section, ul, ol, li, button, figure, picture, hr{
    display: flex;
}

body {
    flex-direction: column;
    background-color: var(--bg-color-1);
    > main {
        min-height: calc(100vh - 80px);
    }
}

@media (min-width: 1200px) {
    body {
        > main {
            min-height: calc(100vh - 80px);
        }
    }
}